include ../../../index
+address
    +strong
        | Twitter, Inc.
    +br
    | 795 Folsom Ave, Suite 600
    +br
    | San Francisco, CA 94107
    +br
    +abbr(title='Phone')
        | P:
    | (123) 456-7890

+address
    +strong
        | Full Name
    +br
    +a(href='mailto:#')
        | first.last@example.com
