include ../../../index
+blockquote
    +p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
    +small
        | Someone famous in
        +cite(title='Source Title')
            | Source Title
