include ../../../index
+h1
    | h1. Bootstrap heading
    +small
        | Secondary text
+h2
    | h2. Bootstrap heading
    +small
        | Secondary text
+h3
    | h3. Bootstrap heading
    +small
        | Secondary text
+h4
    | h4. Bootstrap heading
    +small
        | Secondary text
+h5
    | h5. Bootstrap heading
    +small
        | Secondary text
+h6
    | h6. Bootstrap heading
    +small
        | Secondary text