//-
    jade-bootstrap
    https://github.com/metalshark/jade-bootstrap

    Copyright (c) 2013 'Metalshark' Beech Horn
    Licensed under the LGPL v3 license.

//- Brings all of the mixin includes together into one file with their helpers

//- Imports
include mixins/buttons
include mixins/carousel
include mixins/code
include mixins/containers
include mixins/doctypes
include mixins/forms
include mixins/grid-system
include mixins/helper-classes
include mixins/images
include mixins/navbar
include mixins/navs
include mixins/responsive-images
include mixins/responsive-utilities
include mixins/tables
include mixins/typography
include mixins/viewports

//- Helpers
- function _addClass(classes, attributes) {
-     attributes.class = (attributes.class === undefined) ? classes : attributes.class + ' ' + classes
-}
- function _addClassAttribute(name, classes, attributes) {
-     if (attributes[name]) {
-         _addClass(classes, attributes)
-         attributes[name] = null
-     }
- }
- function _unlessClassAttribute(name, classes, attributes) {
-     if (attributes[name]) {
-         attributes[name] = null
-     } else {
-         _addClass(classes, attributes)
-     }
- }
