//-
    jade-bootstrap
    https://github.com/metalshark/jade-bootstrap

    Copyright (c) 2013 'Metalshark' Beech Horn
    Licensed under the LGPL v3 license.

//- http://getbootstrap.com/css/#forms

- function _inputMeta (attributes) {
-     _unlessClassAttribute('noFormControl', 'form-control', attributes)
-     if (attributes.lg) {
-         _addClassAttribute('lg', 'input-lg', attributes)
-     } else if (attributes.sm) {
-         _addClassAttribute('sm', 'input-sm', attributes)
-     } else if (attributes.xs) {
-         _addClassAttribute('xs', 'input-xs', attributes)
-     }
-}

mixin checkbox
    - attributes.type = attributes.type || 'checkbox'
    .checkbox
        +label(noControlLabel=attributes.noControlLabel)
            - attributes.noControlLabel = null
            +input&attributes(attributes)
            block

mixin checkbox-inline
    - attributes.type = attributes.type || 'checkbox'
    +label(class='checkbox-inline', noControlLabel=attributes.noControlLabel)
        - attributes.noControlLabel = null
        +input&attributes(attributes)
        block

mixin form
    - attributes.role = attributes.role || 'form'
    - _addClassAttribute('horizontal', 'form-horizontal', attributes)
    - _addClassAttribute('inline', 'form-inline', attributes)
    form&attributes(attributes)
        block

mixin form-group
    .form-group&attributes(attributes)
        block

mixin form-static
    p.form-control-static&attributes(attributes)
        block

mixin input
    - _inputMeta(attributes)
    - attributes.type = attributes.type || 'text'
    input&attributes(attributes)

mixin label
    - _unlessClassAttribute('noControlLabel', 'control-label', attributes)
    - _addClassAttribute('inline', 'sr-only', attributes)
    - _colMeta(attributes)
    label&attributes(attributes)
        block

mixin radio
    - attributes.type = attributes.type || 'radio'
    .radio
        +label()(noControlLabel=attributes.noControlLabel)
            - attributes.noControlLabel = null
            +input&attributes(attributes)
            block

mixin select
    - _inputMeta(attributes)
    select&attributes(attributes)
        block

mixin textarea
    - _inputMeta(attributes)
    textarea&attributes(attributes)
        block
