//- font-awesome helper

mixin icon(name)
    - _addClassAttribute('spin', 'icon-spin', attributes)
    - _addClassAttribute('pulse', 'icon-pulse', attributes)
    i(class=['icon', 'icon-'+name])&attributes(attributes)
