//-
    jade-bootstrap
    https://github.com/metalshark/jade-bootstrap

    Copyright (c) 2013 'Metalshark' Beech Horn
    Licensed under the LGPL v3 license.

//- http://getbootstrap.com/css/#images

mixin img-rounded
    img.img-rounded&attributes(attributes)

mixin img-circle
    img.img-circle&attributes(attributes)

mixin img-thumbnail
    img.img-thumbnail&attributes(attributes)
