//-
    jade-bootstrap
    https://github.com/metalshark/jade-bootstrap

    Copyright (c) 2013 'Metalshark' Beech Horn
    Licensed under the LGPL v3 license.

//- http://getbootstrap.com/css/#overview-responsive-images

mixin img
    - _addClassAttribute('responsive', 'img-responsive', attributes)
    img&attributes(attributes)
