include ../../../index
p
    +btn()(primary, lg)
        | Large button
    +btn()(lg)
        | Large button
p
    +btn()(primary)
        | Default button
    +btn
        | Default button
p
    +btn()(primary, sm)
        | Small button
    +btn()(sm)
        | Small button
p
    +btn()(primary, xs)
        | Extra small button
    +btn()(xs)
        | Extra small button
