include ../../../index
+row
    - for (var i = 0; i != 12; i++) {
    +col()(md-1)
        | .col-md-1
    - }
+row
    +col()(md-8)
        | .col-md-8
    +col()(md-4)
        | .col-md-4
+row
    +col()(md-4)
        | .col-md-4
    +col()(md-4)
        | .col-md-4
    +col()(md-4)
        | .col-md-4
+row
    +col()(md-6)
        | .col-md-6
    +col()(md-6)
        | .col-md-6
