include ../../../index
+row
    +col()(xs-12, sm-6, md-8)
        | .col-xs-12 .col-sm-6 .col-md-8
    +col()(xs-6, md-4)
        | .col-xs-6 .col-md-4
+row
    +col()(xs-6, sm-4)
        | .col-xs-6 .col-sm-4
    +col()(xs-6, sm-4)
        | .col-xs-6 .col-sm-4
    // Optional: clear the XS cols if their content doesn't match in height
    +clearfix()(visible-xs)
    +col()(xs-6, sm-4)
        | .col-xs-6 .col-sm-4
