include ../../../index
+row
    +col()(md-9)
        | Level 1: .col-md-9
        +row
            +col()(md-6)
                | Level 2: .col-md-6
            +col()(md-6)
                | Level 2: .col-md-6
