include ../../../index
+row
    +col()(xs-6, sm-3)
        | .col-xs-6 .col-sm-3
    +col()(xs-6, sm-3)
        | .col-xs-6 .col-sm-3
    // Add the extra clearfix for only the required viewport
    +clearfix()(visible-xs)
    +col()(xs-6, sm-3)
        | .col-xs-6 .col-sm-3
    +col()(xs-6, sm-3)
        | .col-xs-6 .col-sm-3
