include ../../../index

// On rows
+tr()(active)
    | ...
+tr()(success)
    | ...
+tr()(warning)
    | ...
+tr()(danger)
    | ...

// On cells (`td` or `th`)
+tr
    +td()(active)
        | ...
    +td()(success)
        | ...
    +td()(warning)
        | ...
    +td()(danger)
        | ...
