include ../../../index
+form

    +form-group
        +label(for='exampleInputEmail1', noControlLabel)
            | Email address
        +input#exampleInputEmail1(placeholder='Enter email', type='email')

    +form-group
        +label(for='exampleInputPassword1', noControlLabel)
            | Password
        +input#exampleInputPassword1(placeholder='Password', type='password')

    +form-group
        +label(for='exampleInputFile', noControlLabel)
            | File input
        +input#exampleInputFile(type='file', noFormControl)
        p.help-block
            | Example block-level help text here.

    +checkbox()(noControlLabel, noFormControl)
        |  Check me out

    +btn(type='submit')
        | Submit
