include ../../../index
+checkbox(value='', noControlLabel, noFormControl)
    | Option one is this and that&mdash;be sure to include why it's great

+radio(id='optionsRadios1', name='optionsRadios', value='option1', checked, noControlLabel, noFormControl)
    | Option one is this and that&mdash;be sure to include why it's great

+radio(id='optionsRadios2', name='optionsRadios', value='option2', noControlLabel, noFormControl)
    | Option two can be something else and selecting it will deselect option one
