include ../../../index
+input.input-lg(placeholder='.input-lg')
+input()(placeholder='Default input')
+input.input-sm(placeholder='.input-sm')

+select.input-lg
    ...
+select
    ...
+select.input-sm
    ...
