include ../../../index
+form()(horizontal)

    +form-group
        +label(for='inputEmail3', sm-2)
            | Email
        +col()(sm-10)
            +input#inputEmail3(placeholder='Email', type='email')

    +form-group
        +label(for='inputPassword3', sm-2)
            | Password
        +col()(sm-10)
            +input#inputPassword3(placeholder='Password', type='password')

    +form-group
        +col()(sm-offset-2, sm-10)
            +checkbox()(noControlLabel, noFormControl)
                |  Remember me

    +form-group
        +col()(sm-offset-2, sm-10)
            +btn(type='submit')
                | Sign in
