include ../../../index
+form-group.has-success
    +label(for='inputSuccess')
        | Input with success
    +input#inputSuccess

+form-group.has-warning
    +label(for='inputWarning')
        | Input with warning
    +input#inputWarning

+form-group.has-error
    +label(for='inputError')
        | Input with error
    +input#inputError
